<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <div class="dropup pull-left mar-right10">
                    <a href="#" class="font-color-666666 dropdown-toggle" data-toggle="dropdown"><img
                            src="images/ross-v2.png" style="height: 24px; width: 24px;"></a>
                    <ul class="nav dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-cog mar-right5 font-size-16px"></i>Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out mar-right5 font-size-16px"></i>Sign Out</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="bold-text btn btn-default background-color-fba16c btn-xs upgrade">
                    Upgrade
                </button>
            </div>
            <div class="pull-right">
                <a href="#"
                   class="font-color-666666 border-right-acacac font-size-14px pad-left10 pad-right10 mar-right10">FAQ</a>
                <span>Built with <i class="fa fa-heart-o"></i> at <a href="#" class="font-color-666666">The Company</a></span>
            </div>
        </div>
    </div>
</div>