<div class="container" id="main">
<div class="row">
<div class="col-md-12">
    <h2>Settings</h2>
</div>
<div class="col-md-12">
<div class="panel panel-default form-horizontal">
<div class="panel-body">
<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Profile</h4>
    </div>
    <div class="col-md-6">
        <div class="media">
            <a href="#" class="pull-left"> <img alt="64x64" class="media-object" src="//placehold.it/64x64"> </a>
            <div class="media-body pad-left5">
                <div class="normal-text">
                    Signed in as:
                </div>
                <h4 class="media-heading mar-top5"><a href="#" class="font-color-666666">Shridhar Baddur</a></h4>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign Out
            </button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Email</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <input type="email" class="form-control" placeholder="Enter email" value="john.smith@example.com">
        </div>
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Send me a daily email of the most interesting stories on HQ</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control disabled">
                Update
            </button>
        </div>
        <div class="clearfix mar-bottom15">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="rss-subscribe" checked="">
                <label class="onoffswitch-label" for="rss-subscribe"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Account</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Facebook</p>
        </div>
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Twitter</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign In
            </button>
        </div>
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign In
            </button>
        </div>
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Delete My Account
            </button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Read Later</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Insta Paper</p>
        </div>
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Pocket</p>
        </div>
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Readability</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign In
            </button>
        </div>
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign In
            </button>
        </div>
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Sign In
            </button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Unread Counts</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Display the number of unread items for each feed and folder</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <div class="onoffswitch">
                <input type="checkbox" name="unread-counts" class="onoffswitch-checkbox" id="unread-counts">
                <label class="onoffswitch-label" for="unread-counts"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Feads and Folders</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">When "Unread" is selected, only show folders and feeds with unread items</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <div class="onoffswitch">
                <input type="checkbox" name="unread-counts" class="onoffswitch-checkbox" id="feeds-folders" checked="">
                <label class="onoffswitch-label" for="feeds-folders"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Privacy</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">A feed of items that you digg will be available to anyone with this URL </p>
        </div>
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">Items you save are only visible to you</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <div class="onoffswitch">
                <input type="checkbox" name="unread-counts" class="onoffswitch-checkbox" id="fav-item-privacy" checked="">
                <label class="onoffswitch-label" for="fav-item-privacy"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
            </div>
        </div>
        <div class="clearfix mar-bottom15">
            <div class="onoffswitch">
                <input type="checkbox" name="unread-counts" class="onoffswitch-checkbox" id="saved-item-privacy">
                <label class="onoffswitch-label" for="saved-item-privacy"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Import</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">When "Unread" is selected, only show folders and feeds with unread items</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Import
            </button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h4 class="pull-left">Export</h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="clearfix mar-bottom15">
            <p class="pad-top7">When "Unread" is selected, only show folders and feeds with unread items</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="clearfix mar-bottom15">
            <button class="btn btn-default font-color-72a7da form-control">
                Download
            </button>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>