<div class="btn-group-vertical feed-open-social-icon-container">
    <button class="btn btn-default" type="button">
        <i class="fa fa-facebook-square font-size-16px"></i>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa-dropbox font-size-16px"></i>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa-linkedin font-size-16px"></i>
    </button>
    <div class="btn-group share-more">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupVerticalDrop">
            <i class="fa fa-share"></i>
        </button>
        <ul class="nav dropdown-menu" id="btnGroupVerticalDrop">
            <li>
                <a href="#"><i class="fa fa-dribbble mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bitbucket mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter mar-right5 font-size-16px"></i> </a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#"><i class="fa fa-tumblr mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-foursquare mar-right5 font-size-16px"></i> </a>
            </li>
        </ul>
    </div>
</div>