<div class="btn-group-vertical feed-open-social-icon-container">
    <button type="button" class="btn btn-default font-color-aaaaaa">
        <i class="fa fa-facebook-square font-size-16px"></i>
    </button>
    <button type="button" class="btn btn-default font-color-aaaaaa">
        <i class="fa fa-dropbox font-size-16px"></i>
    </button>
    <button type="button" class="btn btn-default font-color-aaaaaa">
        <i class="fa fa-linkedin font-size-16px"></i>
    </button>
    <div class="btn-group share-more" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle font-color-aaaaaa">
            <i class="fa fa-share"></i>
        </button>
        <ul id="btnGroupVerticalDrop" class="nav dropdown-menu">
            <li>
                <a href="#" class="font-color-aaaaaa"><i class="fa fa-dribbble mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#" class="font-color-aaaaaa"><i class="fa fa-bitbucket mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#" class="font-color-aaaaaa"><i class="fa fa-twitter mar-right5 font-size-16px"></i> </a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#" class="font-color-aaaaaa"><i class="fa fa-tumblr mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#" class="font-color-aaaaaa"><i class="fa fa-foursquare mar-right5 font-size-16px"></i> </a>
            </li>
        </ul>
    </div>
</div>