<div class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" class="navbar-brand pad-left0 font-color-333333">Brand Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <div class="navbar-header">
                <a class="navbar-btn btn btn-default btn-sm" href="#"><i class="fa fa-align-justify mar-right5"></i> All
                    <small><i class="fa fa-chevron-down mar-left5"></i></small>
                </a>
                <!-- Adjust max-height of class scrollable-menu to the haight of the window -->
                <div class="scrollable-menu background-color-eeeeee" style="height: 531px;">
                    <ul class="nav nav-list">
                        <li>
                            <a href="#"><span class="badge pull-right">26</span><i
                                    class="fa fa-signal mar-right5 font-size-16px pull-left"></i>Popular</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-star mar-right5 font-size-16px"></i> Favourites</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bookmark mar-right5 font-size-16px"></i> Saved</a>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <label class="tree-toggler nav-header pad-right15"><span class="pull-left feed-group-hover"><i
                                    class="fa fa-ellipsis-v"></i></span><span class="badge pull-right">26</span><i
                                    class="fa fa-video-camera mar-right5 font-size-16px"></i> Angular JS</label>
                            <ul class="nav nav-list tree" style="display: none;">
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-adjust mar-right5 font-size-16px"></i> User Chosen Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-adn mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><span class="badge pull-right">26</span><i
                                            class="fa fa-align-center mar-right5 font-size-16px"></i> User Chosen
                                        Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-align-right mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-ambulance mar-right5 font-size-16px"></i> User Chosen Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-anchor mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <label class="tree-toggler nav-header pad-right15"><span class="pull-left feed-group-hover"><i
                                    class="fa fa-ellipsis-v"></i></span><span class="badge pull-right">26</span><i
                                    class="fa fa-barcode mar-right5 font-size-16px"></i> Python</label>
                            <ul class="nav nav-list tree" style="display: none;">
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-bars mar-right5 font-size-16px"></i> User Chosen Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-beer mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-bell mar-right5 font-size-16px"></i> User Chosen Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-bitbucket mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><i
                                            class="fa fa-bitcoin mar-right5 font-size-16px"></i> User Chosen Icon</a>
                                </li>
                                <li>
                                    <a href="#"><span class="pull-left feed-group-hover"><i
                                            class="fa fa-ellipsis-v"></i></span><span class="badge pull-right">26</span><i
                                            class="fa fa-bolt mar-right5 font-size-16px"></i> Favicon</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Search" name="srch-term"
                           id="srch-term">

                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="font-color-999999 border-right-d4d4d4" ng-click="tpnvCtrl.openKeyboardShortcuts()">Keyboard Shortcuts</a>
                </li>
                <li>
                    <a href="#" class="font-color-666666 border-right-d4d4d4"><i class="fa fa-plus"></i></a>
                </li>
                <li>
                    <a href="#" class="font-color-666666"><i class="fa fa-check"></i></a>
                </li>
                <li>
                    <a href="#" class="font-color-666666"><i class="fa fa-th-large"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>