<div class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" class="navbar-brand pad-left0 font-color-333333">Brand Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <div class="navbar-header">
                <a data-toggle="dropdown" class="navbar-btn btn btn-default btn-plus dropdown-toggle" href="#"><i
                        class="fa fa-align-justify mar-right5"></i> All
                    <small><i class="fa fa-chevron-down mar-left5"></i></small>
                </a>
                <!-- Adjust max-height of class scrollable-menu to the height of the window -->
                <ul class="nav dropdown-menu scrollable-menu">
                    <li>
                        <a href="#"><i class="fa fa-signal mar-right5 font-size-16px"></i>Popular</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-star mar-right5 font-size-16px"></i> Favourites</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bookmark mar-right5 font-size-16px"></i> Saved</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="btn-plus"><i class="fa fa-check"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-plus"><i class="fa fa-plus"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="btn-plus dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                    <ul class="nav dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-list mar-right5 font-size-16px"></i>View</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog mar-right5 font-size-16px"></i>Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out mar-right5 font-size-16px"></i>Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>