<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>HQFeeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/views/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/static/views/styles/style.css" rel="stylesheet"/>
    <link href="/static/views/styles/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/views/styles/overrides.css" rel="stylesheet"/>
    <link href="/static/views/styles/list-view.css" rel="stylesheet"/>
    <link href="/static/views/styles/upgrade-styles-light.css" rel="stylesheet"/>
    <link href="/static/views/styles/upgrade-styles.css" rel="stylesheet"/>
    <link href="/static/views/styles/cards-view.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-app="hqFeeds">
<div ui-view="topNav"></div>
<div ui-view="mainContent"></div>
<div ui-view="footer"></div>

<script type='text/javascript' src="/static/views/scripts/vendor/jquery.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/angular.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/angular-ui-router.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/underscore-min.js"></script>
<script type='text/javascript' src="/static/views/scripts/app.js"></script>
<script type='text/javascript' src="/static/views/scripts/controller.js"></script>
<script type='text/javascript' src="/static/views/scripts/directives.js"></script>
<script type='text/javascript' src="/static/views/scripts/services.js"></script>
<script>
    $(document).ready(function () {
        var vHeight = $(window).height();
        vHeight = vHeight - 130;
        $('.scrollable-menu').css("height", vHeight + "px");
        $('.scrollable-menu a').css("padding-right", "50px");
    });
</script>
</body>
</html>