<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>HQFeeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/views/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/static/views/styles/style.css" rel="stylesheet"/>
    <link href="/static/views/styles/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/views/styles/overrides.css" rel="stylesheet"/>
    <link href="/static/views/styles/list-view.css" rel="stylesheet"/>
    <link href="/static/views/styles/upgrade-styles-light.css" rel="stylesheet"/>
    <link href="/static/views/styles/upgrade-styles.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" class="navbar-brand pad-left0 font-color-333333">Brand Name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <div class="navbar-header">
                <a data-toggle="dropdown" class="navbar-btn btn btn-default btn-plus dropdown-toggle" href="#"><i
                        class="fa fa-align-justify mar-right5"></i> All
                    <small><i class="fa fa-chevron-down mar-left5"></i></small>
                </a>
                <!-- Adjust max-height of class scrollable-menu to the height of the window -->
                <ul class="nav dropdown-menu scrollable-menu">
                    <li>
                        <a href="#"><i class="fa fa-signal mar-right5 font-size-16px"></i>Popular</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-star mar-right5 font-size-16px"></i> Favourites</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bookmark mar-right5 font-size-16px"></i> Saved</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-headphones mar-right5 font-size-16px"></i> User Chosen Icon for the
                            group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-android mar-right5 font-size-16px"></i> Favicon of the blog</a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="btn-plus"><i class="fa fa-check"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-plus"><i class="fa fa-plus"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="btn-plus dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                    <ul class="nav dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-list mar-right5 font-size-16px"></i>View</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog mar-right5 font-size-16px"></i>Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out mar-right5 font-size-16px"></i>Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="btn-group-vertical feed-open-social-icon-container">
    <button class="btn btn-default" type="button">
        <i class="fa fa-facebook-square font-size-16px"></i>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa-dropbox font-size-16px"></i>
    </button>
    <button class="btn btn-default" type="button">
        <i class="fa fa-linkedin font-size-16px"></i>
    </button>
    <div class="btn-group share-more">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="btnGroupVerticalDrop">
            <i class="fa fa-share"></i>
        </button>
        <ul class="nav dropdown-menu" id="btnGroupVerticalDrop">
            <li>
                <a href="#"><i class="fa fa-dribbble mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bitbucket mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter mar-right5 font-size-16px"></i> </a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#"><i class="fa fa-tumblr mar-right5 font-size-16px"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-foursquare mar-right5 font-size-16px"></i> </a>
            </li>
        </ul>
    </div>
</div>

<!--main-->
<div class="container" id="main">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="normal-text font-size-12px feed-blogtitle font-color-999999" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwenty">
                        Sed ut perspiciatis
                    </div>
                    <div class="pull-right">
                        <div class="feed-action pull-right">
                            <a href="#" class="font-color-aaaaaa mar-left20"> <i class="fa fa-twitter font-size-14px pad-top5"></i>
                            </a>
                        </div>
                        <div class="feed-action pull-right">
                            <a href="#" class="font-color-aaaaaa mar-left20"> <i class="fa fa-facebook font-size-14px pad-top5"></i>
                            </a>
                        </div>
                        <div class="feed-action pull-right">
                            <a href="#" class="font-color-aaaaaa mar-left20"><i class="fa fa-bookmark font-size-14px pad-top5"></i></a>
                        </div>
                        <div class="feed-action pull-right">
                            <a href="#" class="font-color-aaaaaa mar-left40"><i class="fa fa-star font-size-14px pad-top5"></i></a>
                        </div>
                        <div class="feed-time pull-right">
                            <a href="#" class="font-color-aaaaaa mar-left20">01:20am</a>
                        </div>
                        <div class="feed-score pull-right">
                            <a href="#" class="font-color-aaaaaa">27</a>
                        </div>
                    </div>
                    <div class="feed-data-container" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwenty">
                        <span class="font-size-14px"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
                        <span class="normal-text font-size-12px mar-left15 font-color-666666"> Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in </span>
                    </div>
                </div>
                <div id="collapseTwenty" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="normal-text font-size-12px feed-blogtitle font-color-999999">

                        </div>
                        <div class="pull-right">

                        </div>
                        <div class="feed-data-container">
                            <h3><a href="#" class="font-color-333333">Lorem ipsu dolor sit amet, consectetuer adipiscing elit.</a>
                            </h3>

                            <p>
                                <img src="images/feed1/1.jpg">
                            </p>

                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie,
                                musica, sport etc, litot Europa usa li sam vocabular.
                            </p>

                            <p>
                                Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos
                                directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
                            </p>

                            <p>
                                At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande
                                lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del
                                coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan
                            </p>

                            <p>
                                <img src="images/feed1/2.jpg">
                            </p>

                            <p>
                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced
                                by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!
                            </p>

                            <p>
                                Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl
                                quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew
                                my junk TV quiz. How quickly daft jumping zebras vex. Two driven jocks help fax my big quiz. Quick,
                                Baz, get my woven flax jodhpurs! "Now fax quiz Jack! " my brave
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/main-->
<div class="upgrade-widget base">
    <div class="">
        <ul class="plan planone">
            <li class="name">
                Upgrade
            </li>
            <li>
                Feature 1
            </li>
            <li>
                Feature 2
            </li>
            <li>
                Feature 3
            </li>
            <li class="below">
                <a href="#">Go !!!</a>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a href="#" class="bold-text footer-link"> Upgrade </a>
            </div>
            <div class="pull-right margin-right-10px">
                Built with <i class="fa fa-heart-o"></i> at <a href="#" class="footer-link">The Company</a>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src="/static/views/scripts/vendor/jquery.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/angular.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/angular-ui-router.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type='text/javascript' src="/static/views/scripts/vendor/underscore-min.js"></script>
<script type='text/javascript' src="/static/views/scripts/app.js"></script>
<script type='text/javascript' src="/static/views/scripts/controller.js"></script>
<script type='text/javascript' src="/static/views/scripts/directives.js"></script>
<script type='text/javascript' src="/static/views/scripts/services.js"></script>
<script>
    $(document).ready(function () {
        var vHeight = $(window).height();
        vHeight = vHeight - 130;
        $('.scrollable-menu').css("height", vHeight + "px");
        $('.scrollable-menu a').css("padding-right", "50px");
    });
</script>
</body>
</html>